.container {
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input input {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


