.product-list-container {
    display: flex;
  }
  
  .filters-section {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .filters-section h2 {
    margin-bottom: 10px;
  }
  
  .filters-section ul {
    list-style: none;
    padding: 0;
  }
  
  .filters-section li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .price-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px; /* Add some margin to separate it from other filters */
  }

  .price-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .filters-section label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .products-gallery {
    width: 75%;
    padding: 20px;
    gap: 10px;
  }
  
  .products-gallery h2 {
    margin-bottom: 10px;
  }

  .search-bar {
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 5px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    grid-auto-rows: 1fr;

  }
  