.browse-gallery {
    background-color: #04AA6D;
    border: 0;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    height: 50px;
    width: 300px;
  }
.browse-gallery:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
.start-button {
    background-color: #04AA6D;
    border: 0;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    height: 50px;
    width: 180px;
  }
  
  .start-button:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
  

  .start-button-container {
    display: flex;
    gap: 20px;
    transform: scale(0.7);
  }
  .homepage {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homepage > .item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .item p {
    width: 30%;
    align-items: center;
  }