
.product-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
.product-item h3 {
  margin: 0 0 10px 0;
}
.product-item img {
  width: 100%; 
  object-fit: cover;
}

.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  position: relative;
}

.heart-button .heart {
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.heart-button .heart::before,
.heart-button .heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  transition: background-color 0.3s ease;
}

.heart-button .heart::before {
  top: -10px;
  left: 0;
}

.heart-button .heart::after {
  left: 10px;
  top: 0;
}

.heart-button:hover .heart,
.heart-button:focus .heart {
  background-color: darkred;
}

.heart-button:hover .heart::before,
.heart-button:focus .heart::before,
.heart-button:hover .heart::after,
.heart-button:focus .heart::after {
  background-color: darkred;
}