
.product-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
.product-item h3 {
  margin: 2px 0 2px 0;
}

.product-item img {
    height: 70%;
    width: 90%;
    object-fit: cover;
    border-radius: 8px;
  }

.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  position: relative;
}

.heart-button .heart {
  display: block;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.heart-button .heart::before,
.heart-button .heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
  transition: background-color 0.3s ease;
}

.heart-button .heart::before {
  top: -10px;
  left: 0;
}

.heart-button .heart::after {
  left: 10px;
  top: 0;
}

.heart-button.liked .heart,
.heart-button.liked .heart::before,
.heart-button.liked .heart::after {
  background-color: red;
}
.product-interact {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.price-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-info p {
  margin: 0px 0; 
}

.button-container {
  flex-direction: 'row';
}

.buy-button,
.rent-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buy-button:hover,
.rent-button:hover {
  background-color: #0056b3;
}

.product-interact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}