.item-page {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 20px;
    margin: 20px;
  }
  .item-display {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  .item-image {
    width: 40%;
    padding: 20px;
  }
  .item-image img {
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 40% */
  }
  
  .item-info h2 {
    margin: 0;
    font-size: 2em;
  }
  
  .item-info p {
    margin: 5px 0;
  }

  .selected {
    background-color: yellow !important;
    color: black;
  }

  .unavailable {
    background-color: grey !important;
    color: white;
  }

  .available {
    background-color: #d4edda !important; /* light green for available dates */
    color: #155724 !important; /* dark green for text */
  }

  .comment-input form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
.comment-input textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
  resize: vertical; /* Allow vertical resizing */
}

  
  .comment-input button {
    padding: 10px 20px;
    background-color: #419292;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .comment-input button:hover {
    opacity: 0.7;
  }
  .comments-list .comment {
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .comments-list .comment p {
    margin: 0;
  }
  
  .comments-list .comment p strong {
    display: block;
    margin-right: 10px;
  }
  .comments-list .comment p .userinfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }