.navbar {
  background-color: #eff0eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
  
.link-container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 5px;
  }
  
  .navbar a:hover {
    color: #ccc;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #04AA6D;
    border-radius: 4px;
    border: none;
    padding: 10px 24px;
  }
  .button a{
    color: white;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }