.all {
    display: flex;
    /* gap: 20px; */
  }
  
  .info {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px; /* Adjust the space between buttons */
      align-items: flex-start;
  
  }
  
  .info div {
      display: inline-block;
      padding: 20px 30px;
      font-size: 25px;
      background-color: #eff0eb;
      color: black; /* Change the text color as per your requirement */
      border-radius: 30px; /* Adjust the border radius for rounded corners */
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
  }
  
  .info div:hover {
      color: #ccc;
  }
  
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .avatar-container {
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

.username {
  display: inline-block;
  position: relative;
  font-size: 16px; 
}

  .products-gallery {
    display: grid;
    width: 75%;
    padding: 20px;
    
  }
  
  .products-gallery h2 {
    margin-bottom: 10px;
  }
  
  .products-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
